<h1 style="color: #333; font-size: 19px; font-weight: bold;">
  Olá, {{ owner }}
</h1>

<p>
  Um novo usuário subscreveu o seu Meetup!
</p>

<p>
  <strong style="color: #f94d6a;">Data: {{ date }}</strong> <br />
  <strong>Meetup: </strong> {{ meetup }} <br />
  <strong>Usuário: </strong> {{ subscriber }}
</p>
